body{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header div:hover{
    cursor: pointer;
    color: blueviolet;
}
section hr{
    width: 30px;
    height: 5px;
    background-color: blueviolet;
    border-radius: 5px;

 }
header{
    background-color: white;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}
header span{
    text-transform: uppercase;
    font-size: 15px;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img_logo img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
}
.header_logo span{
    font-weight: bold; /*sert à définir l'epaisseur du text*/
}
nav ul{
    display: flex; /*Sert à rendre flexible*/
    list-style: none; /*Pour enlever les points des listes*/ 
    gap: 40px; /*Pour mettre de l'espace entre les listes horizontales*/
}
li a{
    text-decoration: none;
    text-transform: uppercase; /*Pour mettre le text en majuscule*/
    font-size: 16px;
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: blueviolet;
}
section{
    padding: 50px 50px;
}
h1{
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
}
#accueil{
    padding: 100px;
    text-align: center;
    background-image: url("image5.jpg");
}
p{
    line-height: 1.5em;
}
div a,.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-3px);
}
#projet{
    padding: 100px;
    text-align: center;
}
#a_propos{
    padding: 100px;
    text-align: center;
    background-image: url("image12.jpg");
}
.content{
    display: flex;
    gap: 50px;
    margin-bottom: 10%;
}
.content p{
    text-align: justify;
}

#contact{
    padding: 100px;
    text-align: center;
    background-image: url("image13.jpg");
}
.content_left img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}
.content_competence span{
    font-weight: bold;
    padding: 10px;
    background: rgb(177, 176, 176);
    gap: 20px;
    margin: 2%;
    border-radius: 5px;
}
.content_competence{
    display: flex;
    flex-wrap: wrap; /*pour passer à la ligne*/
}
.form_content{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    padding: 50px;
    text-align: left;
    max-width: 50%;
}
.form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form_group label{
    font-weight: bold;
}
input,textarea{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(250, 249, 249);
    border-color: rgb(243, 241, 241);
}
html{
    scroll-behavior: smooth;
}